<html>
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
    <a href="/events/add">Додади евент</a>
    <a href="/locations/">Локации</a>
    <form action="/events" method="GET" autocomplete="off">
        <h3>Search for your event: </h3>
        <input type="text" name="search" th:value="${search}">
        <input type="number" name="rating" min="1" max="10" th:value="${searchRating}"><br/>
        <input type="submit" value="Search">
    </form>
    <h2>Choose an event:</h2>
    <form action="/bookings" method="POST">
    <ul>
        <li th:each="event: ${events}">
            <input type="radio" th:value="${event.getName()}" name="selectedEvent" />
            Name: <th:block th:text="${event.getName()}"></th:block>,
            Description: <th:block th:text="${event.getName()}"></th:block>
            Rating: <th:block th:text="${event.getPopularityScore()}"></th:block>
            Location: <th:block th:text="${event.getStringLocation()}"></th:block>
            <th:block sec:authorize="hasRole('ADMIN')">
                <a th:href="'/events/edit/' + ${event.id}">Измени</a>
                <a th:href="'/events/delete/' + ${event.id}">Избриши</a>
            </th:block>

        </li>
    </ul>

        <ul style="display: inline-block" th:if="${pages > 0}" th:each="i: ${#numbers.sequence(1, pages)}">
            <a th:href="'?page=' + ${i} + '&perPage=' + ${perPage}" th:text="${i}"></a>
        </ul>
        <h2>Choose number of tickets:</h2>
    <input type="number" name="numTickets" min="1" max="10"><br/>
    <br/>
    <input type="submit" value="Submit">
    </form>
    <form action="/events" method="GET">
        <input type="number" th:value="${perPage}" name="perPage">Per page
        <input type="submit">
    </form>
</main>
</body>
</html>